{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="markdown-body">
      <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>{{article.articleName}}</h1>
     <span>
      {{article.article}}

     <br/><br/><br/>
     </span>
      </article>

      <br/> <br/>
       {{each comment}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>{{$value.nickname}}</span> commented
          <span>{{$value.}}</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
         {{$value.comment}}
        </div>
      </div>
     {{/each}}
      <hr>
      <form action="/comment" method="post" id="comment_form" >
        <div class="form-group">
          <label for="exampleInputPassword1">返事を加わる</label>
            <input hidden name="articleId" value={{article._id}}>
<!--                                         需要处理 因为带有两队引号-->
            <textarea class="form-control" name="comment" id="" cols="10" rows="10" ></textarea>
        </div>
        <button type="submit" class="btn btn-success">返事</button>
      </form>
        <script src="/node_modules/jquery/dist/jquery.js"></script>
        <script>
            $('#comment_form').on('submit', function (e) {
                e.preventDefault()
                var formData = $(this).serialize()
                console.log(formData)
                $.ajax({
                    url: '/comment',
                    type: 'post',
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        var err_code = data.err_code
                        if (err_code === 0) {
                            window.alert('comment発表成功');
                            window.location.href = '/'
                        }
                    }
                })
            })
        </script>
    </div>
  </div>
</section>
{{/block}}
